/*footer*/
.footer{

    display: flex;
    @include dflex(row,space-evenly,none,center);
}

.footer img{

    @include circle(80px);
}

/*footer redes*/
.redes:hover{

    transform: scale(1.2);
    color: $colorSec;
}