/*footer*/
.footer{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.footer img{

    @include circle(80px);
}

/*footer redes*/
.redes:hover{

    transform: scale(1.2);
    color: $colorSec;
}