$fontColor: hsl(100, 62%, 85%);
$colorDark:hsl(225, 5%, 17%);
$bgColor: hsl(210, 11%, 15%);
$colorSec: hsl(156, 100%, 31%);

$fontFamEsp: 'Shadows Into Light', cursive;
$fontFamGen:'Josefin Sans', sans-serif;

$fontSmall: 8px;
$fontM: $fontSmall + 10px;
$fontL: $fontM + 10px;
$fontXL: $fontL + 5px;